*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

h2{
    background: #003300;
    position: absolute;
    font-size: 10vw;
    text-align: center;
    color:#99CC00;
    padding: 20px;
    mix-blend-mode: multiply;
}
video{
    width: 90%;
    height:70% ;
    position: absolute;
}